/* background colors */
.bg_darkblue {
  background-color: #182e3f;
}
.bg_darkblue2 {
  background-color: #16242d;
}
.bg_gray1 {
  background-color: #ececec;
}
/* color */
.text_darkblue {
  color: #354249;
}
.text_darkblue2 {
  color: #16242d;
}
.text_gray2 {
  color: #ccc7c796;
}
