<div class="container mx-auto px-6 pt-5">
  <button
    type="button"
    class="
      text_yellow text-center
      border
      rounded-lg
      br_yellow
      pl-3
      pr-4
      py-2
      bg_buttonGray
    "
  >
    Instellingen opslaan
  </button>
</div>
<div
  class="
    container
    mx-auto
    px-8
    py-6
    flex flex-col
    lg:flex-row
    xl:flex-row
    content_below_header_container
  "
>
  <!-- left side -->
  <div class="w-full">
    <div class="heading_button">
      <h4
        class="
          font-bold
          text-white text-lg text-center
          lg:text-left
          xl:text-left
        "
      >
        Watermerk
      </h4>
      <p class="text_darkGray py-2 lg:text-left xl:text-left text-sm">
        Het watermerk wordt aangebracht aan iedere foto van je advertentie,
        hiermee worden jouw afbeeldingen beschermd. Je kunt hier je
        watermerk-instellingen wijzigen.
      </p>
    </div>
  </div>
</div>
<!-- upload content 1-->
<div class="container mx-auto px-8 custom_file_uploadBtn py-4">
  <label class="opacity_8 text-white text-base my-2">Logo</label>
  <div class="upload-btn-wrapper w-full">
    <div class="flex flex-col lg:flex-row xl:flex-row w-full">
      <div class="w-full">
        <button class="btn w-full flex flex-col items-center pt-8 pb-4">
          <span class="text-white text-base m-0 p-0"
            >Upload een logoNo file chosen</span
          >
          <span class="text-white text-base m-0 p-0">of sleep en laat los</span>
          <span class="py-4 m-0 text_yellow text-base"
            >PNG, JPG, GIF tot 10MB</span
          >
        </button>
        <input type="file" name="myfile" />
      </div>
    </div>
  </div>
</div>
<!-- checkbox and content-->
<div class="contianer mx-auto px-8">
  <div>
    <h4
      class="
        font-bold
        text_darkGray text-sm text-center
        lg:text-left
        xl:text-left
      "
    >
      Watermerk actief?
    </h4>
  </div>
  <div class="py-1 pr-3 py-5">
    <label class="checkbox_container flex">
      <input type="checkbox" />
      <span class="checkmark"></span>
      <span class="checkbox_title"
        >Je moet eerst een watermerk uploaden voordat je het watermerk kunt
        activeren.</span
      >
    </label>
  </div>
</div>
