<div class="footer_container">
  <!-- section1 -->
  <div class="section1_container pt-6 pb-12">
    <div class="flex flex-col pb-5 items-center container mx-auto">
      <h3 class="text-3xl text_darkblue2 py-2 text-center m-0">
        This is some text description to captivate user attention
      </h3>
      <div class="w-full lg:w-8/12 xl:w-8/12 py-5">
        <p class="text-sm m-0 text_darkblue2 text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea
        </p>
      </div>
      <div class="flex justify-center py-5">
        <button
          class="
            border
            rounded
            px-5
            bg-none
            text_darkblue2
            py-2
            border-white
            hover:bg-yellow-300
            cursor-pointer
          "
        >
          Get Started
        </button>
      </div>
      <div class="flex justify-end w-full pr-0 lg:pr-12 xl:pr-12">
        <img
          src="../../../assets/images/Group39783@3x.png"
          alt=""
          class="h_100px"
        />
      </div>
    </div>
  </div>
  <!-- section2 -->
  <div class="section2_container container mx-auto flex justify-center footer_section2_container">
    <div class="w-full lg:w-8/12 xl:w-8/12">
      <div class="px-4">
        <img src="../../../assets/images/logo.png" class="h_100px" alt="" />
      </div>
      <div class="flex flex-wrap py-10 px-4">
        <!-- 1st -->
        <div class="w-6/12 lg:w-3/12 xl:w-3/12">
          <div>
            <h1 class="text-lg text_gray2 font-bold">PRODUCT</h1>
          </div>
          <div>
            <ul class="list-none py-3">
              <li class="text-white opacity_8 text-sm py-1">Features</li>
              <li class="text-white opacity_8 text-sm py-1">Why Tellero</li>
              <li class="text-white opacity_8 text-sm py-1">FAQ</li>
              <li class="text-white opacity_8 text-sm py-1">Pricing</li>
              <li class="text-white opacity_8 text-sm py-1">Integrations</li>
              <li class="text-white opacity_8 text-sm py-1">Security</li>
              <li class="text-white opacity_8 text-sm py-1">Status</li>
            </ul>
          </div>
        </div>
        <!-- 2nd -->
        <div class="w-6/12 lg:w-3/12 xl:w-3/12">
          <div>
            <h1 class="text-lg text_gray2 font-bold">RESOURCES</h1>
          </div>
          <div>
            <ul class="list-none py-3">
              <li class="text-white text-sm opacity_8 py-1">Blog</li>
              <li class="text-white text-sm opacity_8 py-1">Help Centre</li>
              <li class="text-white text-sm opacity_8 py-1">Partners</li>
              <li class="text-white text-sm opacity_8 py-1">Customers</li>
            </ul>
          </div>
        </div>
        <!-- 3rd -->
        <div class="w-6/12 lg:w-3/12 xl:w-3/12">
          <div>
            <h1 class="text-lg text_gray2 font-bold">COMPANY</h1>
          </div>
          <div>
            <ul class="list-none py-3">
              <li class="text-white opacity_8 text-sm py-1">About us</li>
              <li class="text-white opacity_8 text-sm py-1">Careers</li>
              <li class="text-white opacity_8 text-sm py-1">Press</li>
              <li class="text-white opacity_8 text-sm py-1">Legal</li>
              <li class="text-white opacity_8 text-sm py-1">Referrals</li>
            </ul>
          </div>
        </div>
        <!-- 4th -->
        <div class="w-6/12 lg:w-3/12 xl:w-3/12">
          <div>
            <h1 class="text-lg text_gray2 font-bold">LEGAL</h1>
          </div>
          <div>
            <ul class="list-none py-3">
              <li class="text-white opacity_8 text-sm py-1">
                Terms of service
              </li>
              <li class="text-white opacity_8 text-sm py-1">Privacy policy</li>
              <li class="text-white opacity_8 text-sm py-1">Fraud awareness</li>
              <li class="text-white opacity_8 text-sm py-1">
                Complaints process
              </li>
              <li class="text-white opacity_8 text-sm py-1">GDPR</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="section2_hr w-full"></div>
      <div class="py-12 links_img_container flex flex-wrap justify-center">
        <div class="img_container flex items-center">
          <img
            src="../../../assets/images/ins1.png"
            alt=""
            class="h_25px hover_inActive"
          />
          <img
            src="../../../assets/images/instWhite.png"
            alt=""
            class="h_25px activeImg"
          />
        </div>
        <div class="img_container flex items-center">
          <img
            src="../../../assets/images/web1.png"
            alt=""
            class="h_25px hover_inActive"
          />
          <img
            src="../../../assets/images/webWhite.png"
            alt=""
            class="h_25px activeImg"
          />
        </div>
        <div class="img_container flex items-center">
          <img
            src="../../../assets/images/t1.png"
            alt=""
            class="h_20px hover_inActive"
          />
          <img
            src="../../../assets/images/twitWhite.png"
            alt=""
            class="h_20px activeImg"
          />
        </div>
        <div class="img_container flex items-center">
          <img
            src="../../../assets/images/you1.png"
            alt=""
            class="h_18px hover_inActive"
          />
          <img
            src="../../../assets/images/youtWhite.png"
            alt=""
            class="h_18px activeImg"
          />
        </div>
      </div>
      <div class="py-3">
        <p class="text-white text-center text-sm opacity_8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
        <p class="text-white text-center text-sm py-8 opacity_8">
          All rights reserved.
        </p>
      </div>
    </div>
  </div>
</div>
