.service_container{
  overflow: hidden;
}
.service_container .secvices_section5_container {
  background-image: url("../../../assets/images/curveLines.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.service_container .secvices_section5_container .absolute_content {
  margin: -50px 0px 0px 0px;
}
.service_container .section6_container {
  padding: 140px 0px 0px 0px;
}
@media (max-width: 1024px) and (min-width: 320px) {
  .service_container .section6_container {
    padding: 240px 0px 0px 0px;
  }
}
.secvices_section5_container .title_fs{
  font-size: 20px;
}

.services_container_section1{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}