<div class="service_container px-0">
  <!-- section1 -->
  <div class="bg_gray1 py-5 px-3">
    <div class="container mx-auto">
      <!-- title -->
      <div class="flex flex-col items-center py-3">
        <h3 class="pt-3 font-bold text-center text-3xl" data-aos="fade-up">
          Services
        </h3>
        <div class="w-full lg:w-8/12 xl:w-8/12">
          <p class="py-5 text-center text_darkblue2" data-aos="fade-up">
            Lorem ipsum dolor sit amet, consectetur adipis cing elit. nunc non
            risus condiment lobortis eni m at, ef sollicitudin risus. morbi dsfg
            nunc non risus condimen. r adipis cing elit. nunc nonarehhsh
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- section2 -->
  <div class="bg-white py-5 px-3">
    <div class="container mx-auto">
      <!-- title -->
      <div class="flex flex-col items-center py-3">
        <div class="w-full lg:w-10/12 xl:w-10/12">
          <p class="py-5 text-center text_darkblue2" data-aos="fade-up">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. t dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <!-- content -->
      <div
        class="flex justify-between flex-wrap w-full pt-12 pb-8"
        data-aos="fade-left"
      >
        <!-- box1 -->
        <div class="w-6/12 lg:w-3/12 xl:w-3/12 px-5">
          <div
            class="
              w-full
              hover:bg-white hover:shadow-2xl
              rounded
              py-5
              px-2
              cursor-pointer
            "
          >
            <!-- img -->
            <div class="flex justify-center">
              <img
                src="../../../assets/images/Group39905@3x.png"
                alt=""
                class="h_80px"
              />
            </div>
            <div>
              <h4 class="text-center text-2xl font-bold py-5">
                Specialty No. 1
              </h4>
              <p class="text-center text_darkblue2 text-base">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
              </p>
            </div>
          </div>
        </div>
        <!-- box2 -->
        <div class="w-6/12 lg:w-3/12 xl:w-3/12 px-5">
          <div
            class="
              w-full
              hover:bg-white hover:shadow-2xl
              rounded
              py-5
              px-2
              cursor-pointer
            "
          >
            <!-- img -->
            <div class="flex justify-center">
              <img
                src="../../../assets/images/Group39905@3x.png"
                alt=""
                class="h_80px"
              />
            </div>
            <div>
              <h4 class="text-center text-2xl font-bold py-5">
                Specialty No. 2
              </h4>
              <p class="text-center text_darkblue2 text-base">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
              </p>
            </div>
          </div>
        </div>
        <!-- box3 -->
        <div class="w-6/12 lg:w-3/12 xl:w-3/12 px-5">
          <div
            class="
              w-full
              hover:bg-white hover:shadow-2xl
              rounded
              py-5
              px-2
              cursor-pointer
            "
          >
            <!-- img -->
            <div class="flex justify-center">
              <img
                src="../../../assets/images/Group39905@3x.png"
                alt=""
                class="h_80px"
              />
            </div>
            <div>
              <h4 class="text-center text-2xl font-bold py-5">
                Specialty No. 3
              </h4>
              <p class="text-center text_darkblue2 text-base">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
              </p>
            </div>
          </div>
        </div>
        <!-- box 4 -->
        <div class="w-6/12 lg:w-3/12 xl:w-3/12 px-5">
          <div
            class="
              w-full
              hover:bg-white hover:shadow-2xl
              rounded
              py-5
              px-2
              cursor-pointer
            "
          >
            <!-- img -->
            <div class="flex justify-center">
              <img
                src="../../../assets/images/Group39905@3x.png"
                alt=""
                class="h_80px"
              />
            </div>
            <div>
              <h4 class="text-center text-2xl font-bold py-5">
                Specialty No. 4
              </h4>
              <p class="text-center text_darkblue2 text-base">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section3 -->
  <div class="bg_gray1 py-5 px-3">
    <div class="container mx-auto">
      <!-- title -->
      <div class="flex flex-col items-center py-3">
        <h3 class="pt-3 font-bold text-center text-3xl" data-aos="fade-up">
          What is Meetads?
        </h3>
        <div class="w-full lg:w-8/12 xl:w-8/12">
          <p class="py-5 text-center text_darkblue2" data-aos="fade-up">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. t dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.
          </p>
          <p class="py-5 text-center text_darkblue2" data-aos="fade-up">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. t dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- section 4 -->
  <div class="bg_white py-12 px-3">
    <div class="container mx-auto flex flex-col lg:flex-row xl:flex-row">
      <!-- left side -->
      <div class="w-full lg:w-6/12 xl:w-6/12" data-aos="fade-left">
        <img
          src="../../../assets/images/Group39439@3x.png"
          alt=""
          class="w-full"
        />
      </div>
      <!-- right side -->
      <div
        class="
          flex flex-col
          justify-center
          py-3
          w-full
          lg:w-6/12
          xl:w-6/12
          px-3
          lg:px-12
          xl:px-12
        "
      >
        <h3 class="pt-3 font-bold text-3xl" data-aos="fade-up">
          Why Need Meetads?
        </h3>
        <div class="w-full">
          <p class="py-5 text-base text_darkblue2" data-aos="fade-up">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <p class="py-5 text_darkblue2 text-base" data-aos="fade-up">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. t dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- section 5 -->
  <div class="secvices_section5_container">
    <div
      class="
        container
        mx-auto
        flex flex-wrap
        lg:flex-row
        xl:flex-row
        lg:justify-around
        xl:justify-around
        py-12
        px-5
      "
    >
      <!-- left side -->
      <div class="w-full lg:w-5/12 xl:w-5/12" data-aos="fade-left">
        <div>
          <h4 class="text-white font-bold text-2xl">Benefits</h4>
        </div>
        <div class="pt-12 pb-7">
          <!-- list 1 -->
          <div class="flex items-center py-2">
            <img src="../../../assets/images/tick.png" alt="" class="h_14px" />
            <p class="text-white font-normal px-5 m-0 opacity_8 text-base">
              Lorem ipsum dolor sit amet, consectetur adipisci
            </p>
          </div>
          <!-- list 2 -->
          <div class="flex items-center py-2">
            <img src="../../../assets/images/tick.png" alt="" class="h_14px" />
            <p class="text-white font-normal px-5 m-0 opacity_8 text-base">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
          </div>
          <!-- list 3 -->
          <div class="flex items-center py-2">
            <img src="../../../assets/images/tick.png" alt="" class="h_14px" />
            <p class="text-white font-normal px-5 m-0 opacity_8 text-base">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
          </div>
          <!-- list 4 -->
          <div class="flex items-center py-2">
            <img src="../../../assets/images/tick.png" alt="" class="h_14px" />
            <p class="text-white font-normal px-5 m-0 opacity_8 text-base">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
          </div>
          <!-- list 5 -->
          <div class="flex items-center py-2">
            <img src="../../../assets/images/tick.png" alt="" class="h_14px" />
            <p class="text-white font-normal px-5 m-0 opacity_8 text-base">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
          </div>
          <!-- list 6 -->
          <div class="flex items-center py-2">
            <img src="../../../assets/images/tick.png" alt="" class="h_14px" />
            <p class="text-white font-normal px-5 m-0 opacity_8 text-base">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
          </div>
        </div>
        <div class="px-2">
          <h2 class="text-white font-bold title_fs">
            This is some on going sale deal details
          </h2>
        </div>
        <div class="py-8 px-3">
          <button
            class="
              rounded
              hover:bg-yellow-600
              cursor-pointer
              font-medium
              bg-yellow-500
              px-5
              py-3
              text-blue-900
            "
          >
            Get Started
          </button>
        </div>
      </div>
      <!-- right side -->
      <div
        class="w-full lg:w-5/12 xl:w-5/12 flex justify-center"
        data-aos="fade-right"
      >
        <div>
          <img src="../../../assets/images/tyre.png" alt="" class="w-full" />
        </div>
      </div>
    </div>
    <div class="absolute_content absolute w-full flex flex-wrap justify-center">
      <div
        class="
          lg:w-6/12
          xl:w-6/12
          w-full
          flex flex-wrap
          justify-around
          bg_gray1
          rounded
          px-3
        "
      >
        <!-- 1st -->
        <div class="w-6/12 lg:w-3/12 xl:w-3/12 px-3 py-5">
          <div data-aos="fade-down">
            <h6 class="text_darkblue2 text-base text-center m-0 font-bold">
              Lorem ipsum
            </h6>
            <h3 class="text-yellow-500 text-4xl text-center py-5 m-0 font-bold">
              34
            </h3>
            <h3 class="text_darkblue2 text-base text-center m-0 font-bold">
              Lore
            </h3>
          </div>
        </div>
        <!-- 2nd -->
        <div
          class="
            w-6/12
            lg:w-3/12
            xl:w-3/12
            px-3
            py-5
            border-l-2 border-gray-300
          "
        >
          <div data-aos="fade-down">
            <h6 class="text_darkblue2 text-base text-center m-0 font-bold">
              Lorem ipsum
            </h6>
            <h3 class="text-yellow-500 text-4xl text-center py-5 m-0 font-bold">
              126
            </h3>
            <h3 class="text_darkblue2 text-base text-center m-0 font-bold">
              Lore
            </h3>
          </div>
        </div>
        <!-- 3rd -->
        <div
          class="
            w-6/12
            lg:w-3/12
            xl:w-3/12
            px-3
            py-5
            lg:border-l-2
            border-gray-300
          "
        >
          <div data-aos="fade-up">
            <h6 class="text_darkblue2 text-base text-center m-0 font-bold">
              Lorem ipsum
            </h6>
            <h3 class="text-yellow-500 text-4xl text-center py-5 m-0 font-bold">
              346
            </h3>
            <h3 class="text_darkblue2 text-base text-center m-0 font-bold">
              Lore
            </h3>
          </div>
        </div>
        <!-- 4th -->
        <div
          data-aos="fade-up"
          class="
            w-6/12
            lg:w-3/12
            xl:w-3/12
            px-3
            py-5
            border-l-2 border-gray-300
          "
        >
          <div>
            <h6 class="text_darkblue2 text-base text-center m-0 font-bold">
              Lorem ipsum
            </h6>
            <h3 class="text-yellow-500 text-4xl text-center py-5 m-0 font-bold">
              43
            </h3>
            <h3 class="text_darkblue2 text-base text-center m-0 font-bold">
              Lore
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section 6 -->
  <div class="section6_container">
    <div>
      <app-contact-us></app-contact-us>
    </div>
  </div>
</div>
