<div class="home_container px-0">
  <!-- section1 -->
  <div class="bg_gray1 py-5 px-3">
    <div
      class="
        container
        mx-auto
        flex flex-col
        lg:flex-row
        xl:flex-row
        justify-around
        py-12
      "
    >
      <!-- left side  -->
      <div class="w-full lg:w-5/12 xl:w-5/12">
        <!-- <title -->
        <div>
          <div class="w-full">
            <h3
              data-aos="fade-up"
              class="
                line_height_50
                text-4xl text_darkblue2
                font-bold
                text-center
                lg:text-left
                xl:text-left
              "
            >
              <ngtypewriter [StringList]="list" [speed]="3000"></ngtypewriter>
            </h3>
            <p
              data-aos="fade-up"
              class="
                text-sm text_darkblue2
                opacity_8
                py-6
                text-center
                lg:text-left
                xl:text-left
                line_height_28
              "
            >
              Lorem ipsum dolor sit amet, consectetur adipis cing elit. nunc non
              risus condiment lobortis eni m at, ef sollicitudin risus. morbi
              dsfg nunc non risus condimen. r adipis cing elit. nunc nonarehhsh
            </p>
            <div
              class="flex justify-center lg:justify-start xl:justify-start py-6"
              data-aos="fade-up"
            >
              <button
                class="
                  border-2 border-gray-400
                  hover:border hover:bg-gray-200
                  cursor-pointer
                  rounded
                  px-5
                  py-2
                "
              >
                Get Started
              </button>
              <button
                class="
                  hover:border-2 hover:border-gray-500 hover:bg-gray-200
                  cursor-pointer
                  rounded
                  px-5
                  py-2
                  mx-3
                  flex
                  items-center
                "
              >
                <span class="px-2">watch Video</span>
                <img
                  src="../../../assets/images/Group39886@3x.png"
                  class="h_22px"
                  alt=""
                />
              </button>
            </div>
            <div class="pt-12" data-aos="fade-up">
              <img
                src="../../../assets/images/Group39757@3x.png"
                alt=""
                class="w-full"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- right side -->
      <div class="w-full lg:w-4/12 xl:w-4/12">
        <img
          data-aos="fade-down"
          src="../../../assets/images/Group39884@3x.png"
          class="w-full"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- section2 -->
  <div class="bg-white py-5 px-3">
    <div class="container mx-auto">
      <!-- title -->
      <div class="flex flex-col items-center py-3">
        <h3 class="pt-3 font-bold text-center text-3xl" data-aos="fade-down">
          Specialties
        </h3>
        <div class="w-full lg:w-9/12 xl:w-9/12">
          <p
            class="py-5 text-center text-base text_darkblue2"
            data-aos="fade-down"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea
          </p>
        </div>
      </div>
      <!-- content -->
      <div
        class="
          flex
          justify-center
          xl:justify-around
          lg:justify-around
          flex-wrap
          w-full
          pt-12
          pb-8
        "
        data-aos="fade-up"
      >
        <!-- box1 -->
        <div class="w-10/12 lg:w-3/12 xl:w-3/12 px-5">
          <div class="w-full py-5 px-2 cursor-pointer">
            <!-- img -->
            <div class="flex justify-start py-2">
              <img
                src="../../../assets/images/Group39887@3x.png"
                alt=""
                class="h_80px"
              />
            </div>
            <div>
              <h4 class="text-left text-lg font-bold py-4">Parts management</h4>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Easily manage your stock
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Match with car types
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Sell via Marktplaats and eBay
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Sell via your own site
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Import your current stock
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- box2 -->
        <div class="w-10/12 lg:w-3/12 xl:w-3/12 px-5">
          <div class="w-full py-5 px-2 cursor-pointer">
            <!-- img -->
            <div class="flex justify-start py-2">
              <img
                src="../../../assets/images/Group39888@3x.png"
                alt=""
                class="h_80px"
              />
            </div>
            <div>
              <h4 class="text-left text-lg font-bold py-4">
                Vehicle management
              </h4>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Easily manage your stock
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Match with car types
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Sell via Marktplaats and eBay
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Sell via your own site
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Import your current stock
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- box3 -->
        <div class="w-10/12 lg:w-3/12 xl:w-3/12 px-5">
          <div class="w-full py-5 px-2 cursor-pointer">
            <!-- img -->
            <div class="flex justify-start py-2">
              <img
                src="../../../assets/images/Group39889@3x.png"
                alt=""
                class="h_80px"
              />
            </div>
            <div>
              <h4 class="text-left text-lg font-bold py-4">
                Website / webshop
              </h4>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Easily manage your stock
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Match with car types
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Sell via Marktplaats and eBay
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Sell via your own site
                </p>
              </div>
              <div class="flex items-center py-1">
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-center text_darkblue2 text-sm px-2">
                  Import your current stock
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section3 -->
  <div class="bg_gray1 py-10 px-3 home_section3_container">
    <div class="container mx-auto">
      <!-- title -->
      <div class="flex flex-col items-center py-3">
        <h3 class="pt-3 font-bold text-center text-3xl" data-aos="fade-up">
          Benefits
        </h3>
        <div class="w-full lg:w-9/12 xl:w-9/12" data-aos="fade-up">
          <p class="py-5 text-center text_darkblue2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea
          </p>
        </div>
      </div>
      <!-- content -->
      <div
        class="flex flex-col lg:flex-row xl:flex-row justify-center py-8"
        data-aos="fade-left"
      >
        <!-- left side -->
        <div
          class="
            w-full
            flex
            justify-center
            lg:w-5/12
            xl:w-5/12
            py-2
            px-2
            lg:px-4
            xl:px-4
          "
        >
          <div>
            <img
              src="../../../assets/images/NoPath.png"
              alt=""
              class="w-full"
            />
          </div>
        </div>
        <!-- right side -->
        <div
          class="
            w-full
            flex
            justify-center
            lg:w-5/12
            xl:w-5/12
            py-2
            px-2
            lg:px-4
            xl:px-4
          "
        >
          <div>
            <img
              src="../../../assets/images/NoPath.png"
              alt=""
              class="w-full"
            />
          </div>
        </div>
      </div>
      <div class="flex justify-center pt-3">
        <div
          class="
            bg_darkblue
            w-9/12
            absolute
            rounded
            py-5
            px-12
            flex
            justify-center
          "
        >
          <div>
            <img
              src="../../../assets/images/s3_logo.png"
              alt=""
              class="w-full"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section 4 -->
  <div class="bg_white py-12 px-3 section4_home">
    <div class="container mx-auto">
      <!-- title -->
      <div class="flex flex-col items-center py-3">
        <h3 class="pt-6 font-bold text-center text-3xl" data-aos="fade-up">
          Why Us
        </h3>
        <div class="w-full lg:w-9/12 xl:w-9/12" data-aos="fade-up">
          <p class="py-5 text-center text_darkblue2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea
          </p>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row xl:flex-row justify-around">
        <!-- left side -->
        <div
          class="py-3 w-full lg:w-6/12 xl:w-6/12 px-3 lg:px-12 xl:px-12"
          data-aos="fade-left"
        >
          <h3 class="pt-3 font-bold text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </h3>
          <div class="w-full">
            <p class="py-5 text-base text_darkblue2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <div class="flex">
            <div class="w-2/12 flex justify-start py-4">
              <img
                src="../../../assets/images/Group39891@3x.png"
                alt=""
                class="h_40px"
              />
            </div>
            <div>
              <h3 class="pt-3 font-bold text-base">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </h3>
              <div class="w-full">
                <p class="py-2 text-sm text_darkblue2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna
                </p>
              </div>
            </div>
          </div>
          <div class="flex">
            <div class="w-2/12 flex justify-start py-4">
              <img
                src="../../../assets/images/Group39891@3x.png"
                alt=""
                class="h_40px"
              />
            </div>
            <div>
              <h3 class="pt-3 font-bold text-base">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </h3>
              <div class="w-full">
                <p class="py-2 text-sm text_darkblue2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna
                </p>
              </div>
            </div>
          </div>
          <div class="py-10">
            <button
              class="
                border-2 border-gray-400
                hover:border hover:bg-gray-200
                cursor-pointer
                rounded
                px-5
                py-2
                flex
                items-center
              "
            >
              <span class="px-3">See other Services</span>
              <img
                src="../../../assets/images/Path83039@3x.png"
                class="h_14px"
                alt=""
              />
            </button>
          </div>
        </div>
        <!-- right side -->
        <div class="w-full lg:w-5/12 xl:w-5/12" data-aos="fade-right">
          <img
            src="../../../assets/images/Group39890@3x.png"
            alt=""
            class="w-full"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- section5 -->
  <div class="home_section5_container">
    <div class="flex flex-col lg:flex-row xl:flex-row">
      <!-- left side  -->
      <div
        class="w-full lg:w-7/12 xl:w-7/12 py-12 lg:px-12 xl:px-12 bg_darkblue2"
      >
        <div class="container mx-auto px-2 lg:px-5 xl:px-5">
          <div class="w-full lg:w-6/12 xl:w-6/12" data-aos="fade-right">
            <h3
              class="
                text-3xl
                font-bold
                text-center text-white
                lg:text-left
                xl:text-left
              "
            >
              About US
            </h3>
            <p
              class="
                text-sm
                opacity_8
                py-6
                text-center
                lg:text-left
                xl:text-left
                text-white
                line_height_25
              "
            >
              Lorem ipsum dolor sit amet, consectetur adipis cing elit. nunc non
              risus condiment lobortis eni m at, ef sollicitudin risus. morbi
              dsfg nunc non risus condimen. r adipis cing elit. nunc nonarehhsh
            </p>
            <div
              class="flex justify-center lg:justify-start xl:justify-start py-4"
            >
              <button
                class="
                  border border-yellow-500
                  text-yellow-500
                  hover:bg-yellow-500 hover:text-black
                  cursor-pointer
                  rounded
                  px-5
                  py-2
                "
              >
                Get Started
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- right side -->
      <div
        class="
          w-full
          lg:w-5/12
          xl:w-5/12
          bg-white
          lg:absolute
          xl:absolute
          right-0
        "
      >
        <img
          data-aos="zoom-in"
          src="../../../assets/images/Group39895@3x.png"
          class="sideImg w-full"
          alt=""
        />
        <!-- <figure class="sideImg">
          <ng-container *ngIf="videodisabled; else videoblock">
            <img
              src="../../../assets/images/Group39895@3x.png"
              class="img-fluid thumblin h_inherit cursor-pointer"
              (click)="changeImg()"
            />
          </ng-container>
          <ng-template #videoblock class="w-full h-full">
            <iframe
              class="w-full h-full iframe_video"
              src="https://www.youtube.com/embed/5Peo-ivmupE?autoplay=1&mute=1&controls=0"
              allowfullscreen
            ></iframe>
          </ng-template>
        </figure> -->
      </div>
    </div>
  </div>
  <!-- section 6 -->
  <div class="bg-white py-5 px-3 section6_container">
    <div class="container mx-auto">
      <div data-aos="zoom-out">
        <h4 class="text-center pt-12 pb-3 text-3xl font-bold">
          Plans and Pricing
        </h4>
      </div>
      <!-- content -->
      <div class="flex justify-center flex-wrap w-full pt-12 pb-8 px-4">
        <!-- box1 -->
        <div class="w-full lg:w-4/12 xl:w-4/12 my-2" data-aos="zoom-in-right">
          <div
            class="
              w-full
              bg-white
              shadow-2xl
              rounded-lg
              py-5
              cursor-pointer
              common_box
            "
          >
            <div>
              <h4 class="px-3 text-center text-lg font-bold pt-5">
                Small Business
              </h4>
              <p class="px-3 text-center text_darkblue2 text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididu.
              </p>
            </div>
            <div class="py-8 px-3">
              <p class="text-center text-sm py-2">Starting at</p>
              <h4 class="text-center text-2xl py-2 font-bold">
                $€ 0<span class="text-sm px-2 font-normal">p.m</span>
              </h4>
              <p class="text-center text_darkblue2 text-sm">
                Per agent per month
              </p>
            </div>
            <div class="py-5">
              <div class="py-2 px-3 border-t border-gray-200 flex items-center">
                <img
                  src="../../../assets/images/tick.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-left px-2 text_darkblue2 text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
              </div>
              <div class="py-2 px-3 border-t border-gray-200 flex items-center">
                <img
                  src="../../../assets/images/tick.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-left px-2 text_darkblue2 text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
              </div>
              <div class="py-2 px-3 border-t border-gray-200 flex items-center">
                <img
                  src="../../../assets/images/tick.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-left px-2 text_darkblue2 text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
              </div>
              <div class="py-2 px-3 border-t border-gray-200 flex items-center">
                <img
                  src="../../../assets/images/tick.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-left px-2 text_darkblue2 text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
              </div>
              <div class="py-2 px-3 border-t border-gray-200 flex items-center">
                <img
                  src="../../../assets/images/tick.png"
                  class="h_14px"
                  alt=""
                />
                <p class="text-left px-2 text_darkblue2 text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
              </div>
            </div>
            <div
              class="
                flex
                border-t border-yellow-400
                justify-center
                items-center
                pt-4
              "
            >
              <div
                class="
                  px-3
                  py-2
                  rounded
                  flex
                  justify-center
                  items-center
                  hover:bg-yellow-400
                  cursor-pointer
                "
              >
                <p class="px-3 m-0 text-sm">See Pricing</p>
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  alt=""
                  class="h_14px"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- 2nd box -->
        <div
          class="w-full lg:w-4/12 xl:w-4/12 flex items-center"
          data-aos="zoom-in-left"
        >
          <div class="w-full lg:w-9/12 xl:w-9/12 bg-yellow-400 py-6">
            <div>
              <h4 class="text-center pt-8 pb-3 text-xl font-bold">Custom</h4>
            </div>
            <div>
              <p class="text-center text-sm text_darkblue2 px-4">
                Design a custom package
              </p>
              <p class="text-center text-sm text_darkblue2 px-5 py-8">
                Available for business with large advertising volume or unique
                business models
              </p>
            </div>
            <div class="hr_line"></div>
            <div class="flex justify-center items-center pt-4">
              <div
                class="
                  flex
                  justify-center
                  items-center
                  px-3
                  py-2
                  cursor-pointer
                  hover:bg-yellow-300
                  rounded
                "
              >
                <p class="px-3 m-0 text-sm">Contact Sales</p>
                <img
                  src="../../../assets/images/Path83040@3x.png"
                  alt=""
                  class="h_14px"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section7 -->
  <div class="section7">
    <div data-aos="fade-up">
      <h4 class="text-center py-12 text-3xl font-bold">Testimonials</h4>
    </div>
    <div class="py-4">
      <carousel
        [cellsToShow]="4"
        [autoplay]="true"
        [loop]="true"
        [autoplayInterval]="3000"
        [arrows]="false"
        [overflowCellsLimit]="1"
        data-aos="fade-right"
        class="testimonial_box"
      >
        <div class="carousel-cell px-1">
          <div class="common_box shadow pt-3 hover:shadow-xl rounded">
            <div class="w-5/12 px-4">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="py-3 px-4 content_container">
              <p class="text-justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="px-4 profile_content_container flex pt-3 pb-5">
              <div class="w-3/12 profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div class="flex flex-col justify-center px-1">
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell px-1">
          <div class="common_box shadow pt-3 hover:shadow-xl rounded">
            <div class="w-5/12 px-4">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="py-3 px-4 content_container">
              <p class="text-justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="px-4 profile_content_container flex pt-3 pb-5">
              <div class="w-3/12 profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div class="flex flex-col justify-center px-1">
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell px-1">
          <div class="common_box shadow pt-3 hover:shadow-xl rounded">
            <div class="w-5/12 px-4">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="py-3 px-4 content_container">
              <p class="text-justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="px-4 profile_content_container flex pt-3 pb-5">
              <div class="w-3/12 profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div class="flex flex-col justify-center px-1">
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell px-1">
          <div class="common_box shadow pt-3 hover:shadow-xl rounded">
            <div class="w-5/12 px-4">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="py-3 px-4 content_container">
              <p class="text-justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="px-4 profile_content_container flex pt-3 pb-5">
              <div class="w-3/12 profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div class="flex flex-col justify-center px-1">
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell px-1">
          <div class="common_box shadow pt-3 hover:shadow-xl rounded">
            <div class="w-5/12 px-4">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="py-3 px-4 content_container">
              <p class="text-justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="px-4 profile_content_container flex pt-3 pb-5">
              <div class="w-3/12 profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div class="flex flex-col justify-center px-1">
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell px-1">
          <div class="common_box shadow pt-3 hover:shadow-xl rounded">
            <div class="w-5/12 px-4">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="py-3 px-4 content_container">
              <p class="text-justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="px-4 profile_content_container flex pt-3 pb-5">
              <div class="w-3/12 profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div class="flex flex-col justify-center px-1">
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell px-1">
          <div class="common_box shadow pt-3 hover:shadow-xl rounded">
            <div class="w-5/12 px-4">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="py-3 px-4 content_container">
              <p class="text-justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="px-4 profile_content_container flex pt-3 pb-5">
              <div class="w-3/12 profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div class="flex flex-col justify-center px-1">
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell px-1">
          <div class="common_box shadow pt-3 hover:shadow-xl rounded">
            <div class="w-5/12 px-4">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="py-3 px-4 content_container">
              <p class="text-justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="px-4 profile_content_container flex pt-3 pb-5">
              <div class="w-3/12 profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div class="flex flex-col justify-center px-1">
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell px-1">
          <div class="common_box shadow pt-3 hover:shadow-xl rounded">
            <div class="w-5/12 px-4">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="py-3 px-4 content_container">
              <p class="text-justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="px-4 profile_content_container flex pt-3 pb-5">
              <div class="w-3/12 profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div class="flex flex-col justify-center px-1">
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell px-1">
          <div class="common_box shadow pt-3 hover:shadow-xl rounded">
            <div class="w-5/12 px-4">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="py-3 px-4 content_container">
              <p class="text-justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="px-4 profile_content_container flex pt-3 pb-5">
              <div class="w-3/12 profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div class="flex flex-col justify-center px-1">
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
        <div class="carousel-cell px-1">
          <div class="common_box shadow pt-3 hover:shadow-xl rounded">
            <div class="w-5/12 px-4">
              <img src="../../../assets/images/starts.png" />
            </div>
            <div class="py-3 px-4 content_container">
              <p class="text-justify">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
              </p>
            </div>
            <div class="px-4 profile_content_container flex pt-3 pb-5">
              <div class="w-3/12 profile_img">
                <img src="../../../assets/images/testimonial1.png" alt="" />
              </div>
              <div class="flex flex-col justify-center px-1">
                <h6 class="text_darkblue2">Michele Smith</h6>
                <p>MGD at <span class="main_title">New Company</span></p>
              </div>
            </div>
            <div class="bottom_br"></div>
          </div>
        </div>
      </carousel>
    </div>
  </div>
  <!-- section 8 -->
  <div>
    <app-contact-us></app-contact-us>
  </div>
</div>
